<!DOCTYPE html>
<html>
<head>
  <title>Ada's Shopkin Collection</title>
</head>
<body class="main_page">
<header>
  <h1>Welcome!</h1>
  <p>The best Shopkins at the best searches!</p>
</header>
<nav>
  <ul class="main_nav">
    <li>Sign In</li>
    <li>List</li>
    <li>Info</li>
    <li>
      <%= link_to 'Locations', new_location_path %>

    </li>
  </ul>
</nav>
</body>
</html>